@import "~bulma";
@import "~normalize.css";
@import "~katex/dist/katex.min.css";
@import "~tailwindcss/dist/tailwind.css";
@import "~font-awesome/css/font-awesome.min.css";

.flex {
  display: flex !important;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.MovimientoArmonicoSimple {
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 3rem;

  /* Para que todo el aplicativo sea visible */
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);

  /* Para que el contenido este centrado en x,y (50%,0) */
  -ms-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

#ventanagrafica {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#ventanagrafica canvas {
  position: absolute;
  padding: 10px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

hr {
  height: 2px !important;
}

.FormulaMatematica * {
  border-color: unset;
}

.katex-html {
  display: flex;
}

/* Tooltip contenedor */
.tooltip {
  position: relative;
  display: inline-block;
  font-size: 16px;
  width: 10px;
  font-weight: bold;
  border-bottom: 2px dotted #f14668 !important;
}

/* texto Tooltip */
.tooltip .tooltiptext {
  border: solid 1px gray;
  visibility: hidden;
  width: 320px;
  background-color: white;
  color: black;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  left: -325px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
